@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #eceadf;
}


#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #71a3b1;
    padding: 1%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1.5rem;
   justify-content: center;
   
}

.stats-container {
    display:flex;
    align-items: baseline;
    background-color: #d6d8cc;

}


.stats-card {
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    background-color: #71a3b1;

}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #d6d8cc;

}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #81b3c1;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    border: lightblue solid;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}
#unfunded-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
#funded-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
#all-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
#search-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
h2{
    text-align: center;
    letter-spacing: .5px;
    font-size: xx-large;
}
p{
    font-size: 25px;
}
#description-container{
    text-align: center;
}
.background-container{
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    background-color: #d6d8cc;

}
.stats-container-collected{
    background-color: #d6d8cc;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px rgba(0,0,0,.5);
}

.our-games-collected{
    background-color: #d6d8cc;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    text-align: center;
}